header{
    display: flex;
    background-color: #333;
    color: white;
    padding-inline: 16px;
    padding-block: 8px;
    text-align: center;
    justify-content: space-between;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        > span{
            cursor: pointer;
            &:hover{
                color: black;
            }
        }
        
    }
    ul{
        list-style: none;

        li{
            cursor: pointer;
            &:hover{
                color: black;
            }
        }

    }
}