html, body {
    margin: 0;
    padding: 0;
}
*{
    outline: none;
    box-sizing: border-box; 
}

.page-container {
    
    max-width: 900px; 
    
    margin: 0 auto; 

    padding: 0 16px; 
    
  
}